body {
    background-color: antiquewhite;
    background-image: url("img/coverFandFfond.png");
    background-repeat: no-repeat;

}

h1 {
    color : midnightblue;
    text-shadow: 2px 2px 4px;
    font-family: 'PolicePerso', sans-serif;
}

h2{
    font-weight : bold;
    font-style: italic;
    text-align: center;
}

p {
    background-color: blanchedalmond;
    color : brown;
}

ul {
    border-top: 2px dashed;
    border-bottom: 2px dashed;
    border-left: 1px solid;
    border-right: 1px solid;
}

/* playfair-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PolicePerso';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
